.container {
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.imgContainer {
  width: 100%;
  height: auto;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.descContainer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 10;
  margin: 8px;
  border-radius: 32px;
  background-color: #ffb74d;
  padding: 32px;
  opacity: 0;
  transition: all 0.5s;
}

.container:hover .descContainer {
  opacity: 1;
  margin: 16px;
}
